.content-container {
  padding: 20px 0px 10px 10px;
  width: 100%;
}

.blog-entry-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blog-entry-header {
  margin-bottom: 10px;
}

.blog-entry-author {
  margin: 5px 0;
}

.blog-entry-date {
  margin: 5px 0;
}

.blog-entry-image-container {
  margin: 25px 0;
  max-width: 640px;
}

.blog-entry-image {
  min-width: 320px;
  min-height: 180px;
  max-width: 640px;
  min-height: 360px;
}
