.content-container {
  padding: 20px 0px 10px 10px;
}

.blog-items-container {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}

.blog-item {
  width: 100%;
}

.blog-image {
  max-width: 100%;
  width: 320px;
  height: 180px;
  cursor: pointer;
}

.blog-header {
  text-align: center;
  margin: 10px 0;
  max-width: 320px;
  cursor: pointer;
}


@media (min-width: 768px) {
  .blog-item {
    width: 33%;
  }
}
