.content-container {
  padding: 20px 0px 10px 10px;
}

.blog-edit-header {
  margin-bottom: 20px;
}

.blog-edit-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
}

.blog-edit-input {
  font-size: 1.2em;
  margin: 5px 0;
  padding: 5px;
  width: 100%;
}

.blog-edit-image {
  margin: 5px 0;
  width: 320px;
  height: 180px;
}

.blog-edit-textarea {
  font-size: 1.2em;
  margin: 5px 0;
  min-height: 300px;
  padding: 5px;
  width: 100%;
}

.blog-edit-button {
  align-self: flex-start;
  font-size: 1.2em;
  margin: 5px 0;
  padding: 5px;
}
