<div class="main-content-container">
  <div class="left-content-container">
    <div class="blog-items-container">
      <div class="blog-item">
        <div class="blog-item-image-container">
          <img class="blog-item-image" src="http://placehold.it/320x180">
        </div>
        <div class="blog-item-description-container">
          <p class="blog-item-header">test header</p>
          <div class="blog-item-stats-container">
            <p class="fa fa-pencil"> Author</p>
            <p class="fa fa-calendar"> Date</p>
            <p class="fa fa-comment"> Comments</p>
          </div>
          <p class="blog-item-description">test description</p>
          <button class="blog-item-button">READ MORE ></button>
        </div>
      </div>
    </div>
  </div>
  <div class="right-content-container">
  </div>
</div>
