<div class="main-content-container">
  <div class="left-content-container">
    <div class="blog-items-container">
      <div class="blog-item" *ngFor="let blogItem of blogItems | slice:0:5">
        <div class="blog-item-image-container">
          <img class="blog-item-image" src="{{blogItem.imgUrl}}">
        </div>
        <div class="blog-item-description-container">
          <p class="blog-item-header">{{blogItem.name}}</p>
          <div class="blog-item-stats-container">
            <p class="fa fa-pencil"> {{blogItem.author}}</p>
            <p class="fa fa-calendar"> {{blogItem.created | date}}</p>
            <p *ngIf="blogItem.comments" class="fa fa-comment">{{blogItem.comments.length}}</p>
          </div>
          <p class="blog-item-description">{{blogItem.description}}</p>
          <button class="blog-item-button">READ MORE></button>
        </div>
      </div>
    </div>
  </div>
  <div class="right-content-container">
  </div>
</div>
